body {
  background-color: green;
}

.card {
  text-align: center;
  background-color: white;
  margin: auto;
  height: 600px;
  width: 400px;
  font-size: 50px;
  border: 1px solid red;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.top-pintas {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}
.number {
  position: absolute;
  font-size: 80px;
}
.bottom-pintas {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}
