body {
  background-color: green;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  height: 600px;
  width: 400px;
  font-size: 50px;
  border: 1px solid red;
  border-radius: 20px;
}

.top-pintas {
  font-size: 80px;
}
.number {
  align-self: center;
  font-size: 80px;
}
.bottom-pintas {
  display: flex;
  justify-content: end;
  font-size: 80px;
}
